version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      stylelint-and-configs:
        patterns:
          - "^(@[^/]+\/)?stylelint$"
          - "^(@[^/]+\/)?stylelint-config-sass-guidelines$"
          - "^(@[^/]+\/)?stylelint-config-standard$"
